@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>结算</title>
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/mmenu/jquery.mmenu.all.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/timeline/timeline.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/contractContent.css" />
</head>

<body style="padding: 0; margin: 0;">
    <div class="container" style="margin: 0; width: auto;">
        <div class="row">
            <div>
                <div class="menu">
                    <a href="#menu"><span class="glyphicon glyphicon-align-justify menu-icon"></span></a>
                </div>
                <div class="content">
                    <h3>结算情况</h3>
                    <hr style="border: 1px solid gray;" />
                    <div class="up-to-date">
                        <label class="brlabel-lg" id="lbl_contractName">合同名称：</label>
                        <label class="brlabel-lg" id="lbl_amount">总金额：</label>
                        <label class="brlabel-lg" id="lbl_subAffirmIncomeAmount">已收金额：</label>
                        <label class="brlabel-lg" id="lbl_noAmountCollection">未收金额：</label>
                        <div class="form-group">
                            <label class="control-label brlabel-lg" for="txt_services">服务款项：</label>
                            <select class="form-control" style="max-width: 30em;" id="txt_services" name="txt_services" onchange="serviceChanged(this.value);"></select>
                        </div>
                        <label class="brlabel-lg" id="lbl_affirmIncomeGist">确认收入依据：</label>
                        <label class="brlabel-lg" id="lbl_AffirmIncomeAmount">确认收入金额：</label>
                        <label class="brlabel-lg" id="lbl_AffirmIncomeDate">确认收入日期：</label>
                        <label class="brlabel-lg" id="lbl_subCost">已结转成本数量：</label>
                        <label class="brlabel-lg" id="lbl_subworker">直接人工：</label>
                        <label class="brlabel-lg" id="lbl_subMaterial">直接材料：</label>
                        <label class="brlabel-lg" id="lbl_subtotal">小计：</label>
                        <label class="brlabel-lg" id="lbl_avgGrossrofitMargin">2017年1-12月毛利率：</label>
                    </div>
                    <hr style="border: 1px solid gray;" />
                    <div class="text-center">
                        <button class="btn btn-primary btn-full-width" type="button" onclick="Href()">结算</button>
                    </div>
                    <h3 id="log">结算日志</h3>
                    <button class="btn btn-default btn-full-width" type="button" id="more" onclick="lazyLoad()">加载更多</button>
                </div>
            </div>
            <nav class="nav-hidden" id="menu">
                <ul>
                    <li><a href="~/Contract/contractContent">合同内容</a></li>
                    <li><a href="~/Production/Production">生产</a></li>
                    <li><a href="~/Warehouse/Warehouse">发货</a></li>
                    <li><a href="~/Project/Project">施工</a></li>
                    <li><a href="~/Sales/Sales">收款</a></li>
                    <li>
                        <a href="~/Invoicing/Invoicing">开票</a>
                    </li>
                    <li><a href="#" onclick="return false;">结算</a></li>
                    <li><a href="~/Summation/Summation">合同汇总</a></li>
                    <div class="text-center">
                        <button class="btn btn-primary btn-back" type="button" onclick="location.href = '/Contract/Index'">返回</button>
                    </div>
                </ul>
            </nav>
        </div>
    </div>
    <script src="http://g.alicdn.com/dingding/open-develop/1.6.9/dingtalk.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://g.alicdn.com/dingding/dingtalk-pc-api/2.7.0/index.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/js/bootstrap/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/js/premissions.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/js/accountant.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/js/bootstrap/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/js/mmenu/jquery.mmenu.all.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/js/timeline/modernizr.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/js/global.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        var ContractName = "@ViewBag.ContractName";
        var Contract_Amount = @ViewBag.Contract_Amount;
        var SubAffirmIncomeAmount= @ViewBag.SubAffirmIncomeAmount ;
        var NoAmountCollection= @ViewBag.NoAmountCollection;
        var AccountantLogJson= "@ViewBag.AccountantLogJson" ;
        var AccountantJson =  "@ViewBag.AccountantJson" ;
        var UserJson=sessionStorage.getItem("User");
        function Href() {
            var reg = new RegExp("&quot;", "g"); //创建正则RegExp对象 ll  
            var AccountantJsons=AccountantJson.replace(reg, '"');
            location.href = "AddAccountantLog?AccountantJson="+AccountantJsons+"&Service="+$("#txt_services").val();
            //alert("5555")
        }
        jQuery(document).ready(function($) {
            $("#menu").mmenu({
                "navbar": {
                    "title": "菜单"
                },
                "extensions": [
                    "pagedim-black"
                ]
            });
        });
        $("#menu").removeClass("nav-hidden");
    </script>
    <script type="text/javascript">
			$(function() {
				var $timeline_block = $('.cd-timeline-block');
				//hide timeline blocks which are outside the viewport
				$timeline_block.each(function() {
					if($(this).offset().top > $(window).scrollTop() + $(window).height() * 0.75) {
						$(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
					}
				});
				//on scolling, show/animate timeline blocks when enter the viewport
				$(window).on('scroll', function() {
					$timeline_block.each(function() {
						if($(this).offset().top <= $(window).scrollTop() + $(window).height() * 0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden')) {
							$(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
						}
					});
				});
			});
    </script>
</body>

</html>