@{
    Layout = null;
}
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <title>结算</title>
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/datepicker/default.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/datepicker/default.date.css" />
</head>

<body style="padding: 1em;">
    <div class="container" style="max-width: 400px;">
        <div class="row">
            <form role="form" action="saveAccountantLog" method="post">
                <div class="form-group">
                    <label class="control-label" for="txt_logName"><span style="color: red;">*</span>结算说明：</label>
                    <input type="text" class="form-control" id="txt_logName" name="LogName" placeholder="请输入结算说明" required />
                </div>
                <div class="form-group">
                    <label class="control-label" for="txt_services"><span style="color: red;">*</span>服务款项：</label>
                    <select class="form-control" id="txt_services" name="ServiceID"></select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="txt_contract_Type"><span style="color: red;">*</span>确认收入依据：</label>
                    <select class="form-control" id="txt_contract_Type" name="AffirmIncomeGist">
                        <option value="未确认收入">未确认收入</option>
                        <option value="现场改造工程竣工验收单">现场改造工程竣工验收单</option>
                        <option value="OEM配套收货验收单">OEM配套收货验收单</option>
                        <option value="其他收货验收单">其他收货验收单</option>
                        <option value="培训或服务完成客户签收单">培训或服务完成客户签收单</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label" for="txt_affirmIncomeAmount" id="hhh">确认收入金额（不含税）：</label>
                    <div class="input-group">
                        <label class="input-group-addon">￥</label>
                        <input type="number" min="0" max="10000000000" step="0.01" class="form-control" id="txt_affirmIncomeAmount" name="AffirmIncomeAmount" placeholder="请输入确认收入金额" oninput="computations()" onpropertychange="computations()" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-append date form_datetime">
                        <label class="control-label" for="txt_affirmIncomeDate"><span style="color: red;">*</span>确认收入日期：</label>
                        <input class="form-control datepicker" type="text" name="AffirmIncomeDate" id="txt_affirmIncomeDate">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="txt_cost">已结转成本数量：</label>
                    <input type="number" min="0" max="100000" class="form-control" id="txt_cost" name="Cost" placeholder="请输入已结转成本数量" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="txt_worker">直接人工：</label>
                    <div class="input-group">
                        <label class="input-group-addon">￥</label>
                        <input type="number" min="0" max="10000000000" step="0.01" class="form-control" id="txt_worker" name="worker" placeholder="请输入直接人工" oninput="computations()" onpropertychange="computations()" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="txt_material">直接材料：</label>
                    <div class="input-group">
                        <label class="input-group-addon">￥</label>
                        <input type="number" min="-100000000" max="10000000000" step="0.01" class="form-control" id="txt_material" name="Material" placeholder="请输入直接材料"oninput="computations()" onpropertychange="computations()"  />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="txt_grossrofitMargin">2017年1-12月毛利率：</label>
                    <input type="number" min="0" max="1" step="0.01" data-error="123" class="form-control" id="txt_grossrofitMargin" name="GrossrofitMargin" placeholder="请输入2017年1-12月毛利率" />
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <button class="btn btn-primary" id="btn_save" type="submit">保存</button>
                        <button class="btn btn-primary" id="btn_save"  type="button" onclick="location.href = '/Accountant/Accountant'">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <script src="~/Scripts/js/addContract.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/js/bootstrap/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/js/bootstrap/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/js/datepicker/picker.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/js/datepicker/picker.date.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/js/datepicker/zh_CN.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/js/webshim/polyfiller.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/js/addAccountantLog.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        var Contract_DataJson = "@ViewBag.Contract_DataJson";
        var LogDatesJson = "@ViewBag.LogDatesJson";
        var AccountantJson = "@ViewBag.AccountantJson";
        var Service = "@ViewBag.Service";
        var ss = "@ViewBag.ss1"
        $("#txt").val(serviceIndex);
        $('.datepicker').pickadate({
            format: 'yyyy-mm-dd'
        });
    </script>
    <script type="text/javascript">
			webshim.activeLang('zh-CN');
			webshims.polyfill('forms');
			webshims.cfg.no$Switch = true;
        $("#txt_services").change(function () {
    for (var i = 0; i < Accountants.length; i++) {
        if (Accountants[i].Service == $("#txt_services").val()) {
            DoLog(Accountants[i]);
        }
    }
});
    </script>

    <script type="text/javascript">
      $(function(){
          var amountNotReceived = ss;
          $('#hhh').html("<span style='color: red;'>*</span>确认收入金额（不含税）（总金额： " + amountNotReceived + " 元）")
          $('#txt_affirmIncomeAmount').attr("max", amountNotReceived);
      });
    </script>
</body>

</html>