@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>统计</title>
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/stats.css" />
</head>

<body>
    <div class="menu">
        <a onclick="back()"><span class="glyphicon glyphicon-chevron-left menu-icon"></span></a>
        @*<span id="filterIcon" class="glyphicon glyphicon-filter pull-right right-icon" title="过滤"></span>*@
    </div>
    <div class="content">
        <div class="panel panel-default" style="margin: 10px">

            <div class="panel-heading">
                增长率表<span id="filterIcon" class="glyphicon glyphicon-cog pull-right " title="过滤"></span>
            </div>
            <div class="panel-body">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="chart" id="accumulatedValueChart">

                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="chart" id="NoAmountCollection">

                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="chart" id="AffirmIncomeAmountChart">

                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="chart" id="InvoiceAmountChart">

                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="margin: 10px">

            <div class="panel-heading">
                累计值<span id="filterIcon2" class="glyphicon glyphicon-cog pull-right " title="过滤" ></span>
            </div>
            <div class="panel-body">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="chart" id="Arr">
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="chart" id="Arr2">
                    </div>
                </div>
            </div>
                </div>
                @*<div class="col-lg-6 col-md-6 col-sm-12">
                            <!--<span class="glyphicon glyphicon-fullscreen"></span>-->
                            <div class="chart" id="salesBarChart">

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <!--<span class="glyphicon glyphicon-fullscreen"></span>-->
                            <div class="chart" id="producitonBarChart">

                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <!--<span class="glyphicon glyphicon-fullscreen"></span>-->
                            <div class="chart" id="warehouseBarChart">

                            </div>
                        </div>

                    </div>*@

                <div class="modal fade" style="z-index: 100000000;" id="filter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    统计
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                </div>
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="control-label">统计方式：</label>
                                        <select class="form-control" style="display: inline;width: 73%;" id="select_statsMode" name="select_statsMode">
                                            <option value="所有合同">所有合同</option>
                                            <option value="按合同类型">按合同类型</option>
                                        </select>
                                    </div>
                                </div>
                                <div id="div_statsType" class="form-group" style="display: none;">
                                    <div class="form-group">
                                        <label class="control-label">合同类型：</label>
                                        <select class="form-control" style="display: inline;width: 73%;" id="select_contractType" name="select_contractType">
                                            <option value="风电监测系统">风电监测系统</option>
                                            <option value="水泵监测系统">水泵监测系统</option>
                                            <option value="格莱茵CMS">格莱茵CMS</option>
                                            <option value="监测服务收入">监测服务收入</option>
                                            <option value="培训收入">培训收入</option>
                                            <option value="软件收入">软件收入</option>
                                            <option value="FB设备">FB设备</option>
                                        </select>
                                    </div>
                                </div>

                                <div id="div_accumulatedValue">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="control-label">从：</label>
                                            <input type="date" class="form-control" style="display: inline;width: 73%;" id="txt_startDate" name="select_startDate">

                                            </input>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="control-label">到：</label>
                                            <input type="date" class="form-control" style="display: inline;width: 73%;" id="txt_finishDate" name="select_finishDate">

                                            </input>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <button class="btn btn-primary" type="button" id="btn_all">自统计以来</button>
                                            <div class="select-year">
                                                <label class="control-label">年度累计：</label>
                                                <select class="form-control" class="form-control" style="display: inline; width: 60%;" id="select_year" name="select_year">
                                                    <option value="">请选择</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <button class="btn btn-primary" type="button" id="btn_thisYear">当年累计</button>
                                            <button class="btn btn-primary" type="button" id="btn_thisQuarter">当季累计</button>
                                            <button class="btn btn-primary" type="button" id="btn_thisMonth">当月累计</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    关闭
                                </button>
                                <button type="button" class="btn btn-primary" onclick="filterStats()">
                                    确定
                                </button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal -->
                </div>
            </div>

            <script src="~/Scripts/js/bootstrap/jquery.min.js" type="text/javascript" charset="utf-8"></script>
            <script src="~/Scripts/js/bootstrap/bootstrap.js" type="text/javascript" charset="utf-8"></script>
            <script src="~/Scripts/js/echart/echarts.common.min.js" type="text/javascript" charset="utf-8"></script>
            <script src="~/Scripts/js/stats.js" type="text/javascript" charset="utf-8"></script>
            <script src="~/Scripts/js/global.js" type="text/javascript" charset="utf-8"></script>
            <script type="text/javascript" charset="utf-8">

                @*var SumTotalProduct= @ViewBag.SumTotalProduct;
        var SumNoTotalProduct= @ViewBag.SumNoTotalProduct;
        var SumNoShippedCount =@ViewBag.SumNoShippedCount;
        var SumReserves= @ViewBag.SumReserves ;
        var SumShippedCount=@ViewBag.SumShippedCount;
        var NoTotalRevenue = @ViewBag.NoTotalRevenue;
        var TotalRevenue =@ViewBag.TotalRevenue;*@
        @*var ContractName="@ViewBag.ContractName";
        var NoAmountCollection="@ViewBag.NoAmountCollection";
        var SubAffirmIncomeAmount="@ViewBag.SubAffirmIncomeAmount";
        var TotalProduct="@ViewBag.TotalProduct";
        var NoTotalProduct="@ViewBag.NoTotalProduct" ;
        var ShippedCount="@ViewBag.ShippedCount";
        var NoShippedCount="@ViewBag.NoShippedCount";*@
                var Ar = "@ViewBag.Ar";
                var Ar2 = "@ViewBag.Ar2";
                var aYear_on_yearGrowthRate1 = "@ViewBag.YOYincrease"
                var aYear_on_yearGrowthRate2 = "@ViewBag.YOYincrease2"
                var aYear_on_yearGrowthRate3 = "@ViewBag.YOYincrease3"
                var aYear_on_yearGrowthRate4 = "@ViewBag.YOYincrease4"
                var aLinkGrowthRate1 = "@ViewBag.SIncreaseRate"
                var aLinkGrowthRate2 = "@ViewBag.SIncreaseRate2"
                var aLinkGrowthRate3 = "@ViewBag.SIncreaseRate3"
                var aLinkGrowthRate4 = "@ViewBag.SIncreaseRate4"
            </script>
</body>

</html>